<section id="howItWorks">
    <div class="mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading"> Como funciona o adestramento </h1> 
                <span></span>
            </div> 
            <div class="col-xs-12">
                <div class="box-step">
                    <div class="item-step">
                        <div class="box-icon">
                            <i class="la la-home"></i>
                        </div>
                        <span class="title">Agende uma visita</span>
                        <p>
                            O primeiro contato será uma aula de avaliação comportamental do cão e do trabalho ser feito.
                        </p>
                    </div>
                    <div class="item-step">
                        <div class="box-icon">
                            <i class="la la-clipboard"></i>
                        </div>
                        <span class="title">Planejamento</span>
                        <p>
                            Adestramento passo a passo do básico ao avançado e socialização em grupo com horário programado de acordo a necessidade do cliente podendo o mesmo participar das aulas.
                        </p>
                    </div>
                    <div class="item-step">
                        <div class="box-icon">
                            <i class="la la-map-marker"></i>
                        </div>
                        <span class="title">Local de adestramento</span>
                        <p>Vamos até você, com aulas em domicílio ou locais próximos.</p>
                    </div>
                    <div class="item-step">
                        <div class="box-icon">
                            <i class="la la-heart-o"></i>
                        </div>
                        <span class="title">Método de adestramento</span>
                        <p>A base de carinho e correção sem castigo, aulas de obediência defesa e ataque, anti envenamento, anti sequestro e Dog Walker (passeio com o cão).</p>
                    </div>
                    <div class="item-step">
                        <div class="box-icon">
                            <i class="la la-calendar-o"></i>
                        </div>
                        <span class="title">Programação de aulas</span>
                        <p>1 hora de aula em 2 ou 3 vezes por semana a combinar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
