//Color Schema
@import '../../../../assets/sass/color';

//Fonts
@import '../../../../assets/sass/fonts';

// Pre-sets
@import '../../../../assets/sass/main';

#howItWorks {
	background: url('../../../../assets/images/howItWorks/back.png') repeat center top fixed;
    padding: 50px 0;
    
	.box-step {
		margin-top: 25px;
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;

		justify-content: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;

		.item-step {
			flex-grow: 1;
			flex-basis: 0;
			
			padding: 0 15px;
			text-align: center;
			position: relative;

			.box-icon {
				position: relative;
				width: 100px;
				height: 100px;
				line-height: 124px;
				border: 2px solid $main_color_lighter;
				margin: 20px auto 15px;
				background: #fff;
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				cursor: pointer;

				&:hover {
					background: $main_color;
					transform: rotate(45deg);

					i {
						transform: rotate(-45deg);
						color: $pure_white;
					}

					&:before {
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
					}
				}

				&:before {
					content: '';
					position: absolute;
					left: 50%;
					right: 50%;
					top: 50%;
					bottom: 50%;
					background: $main_color;
					transition: all 0.5s;
				}
				i {
					font-size: 50px;
				}
			}

			.title {
				font-size: 18px;
				margin-bottom: 12px;
				height: 54px;
				display: flex;
				display: -webkit-flex;
				display: -ms-flexbox;
				align-items: center;		    
				-webkit-align-items: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				justify-content: center;
				-webkit-justify-content: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				text-align: center;
			}

			p {
				font-size: 14px;
				text-align: center;
			}
		}
	}

	.see-more {
		@include btn-std(1px solid $text_color, $text_color, $pure_white);
	}
}