<header id="headerBar" class="cbp-af-header">
    <div id="headerTop">
        <div class="container">
            <div class="row">
                <div class="box-contact">
                    <div class="top-contact">
                        <span>Telefone: 
                            <a href="tel:01199339-5412">(11) 99339-5412</a> -
                            <a href="tel:0115814-6994">(11) 5814-6994</a>
                        </span>
                        <span>Email: 
                            <a href="mailto:contato@equiperaca.com.br">
                                contato@equiperaca.com.br
                            </a>
                        </span>
                    </div>
                    <div class="social_icons">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100009229755983" title="Facebook" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/equipe_raca/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone==+5511993395412&text=Olá,%20Gostaria%20de%20tirar%20algumas%20dúvidas!" data-action="share/whatsapp/share" target="_blank" title="WhatsApp">
                                    <i class="fa fa-whatsapp" title="WhatsApp"></i>
                                </a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCbCvBqcGrtj-LtFPOA6Us-g" title="YouTube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="headerBottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <div class="box-img">
                        <img class="img-logo img-responsive" src="assets/images/logos/equiperaca_adestramento_de_caes.png" alt="Equipe Raca - Adestramento de cães" title="Equipe Raça - Adestramento de cães">
                    </div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                      <a [routerLink]="''">Home</a>
                    </li>
                    <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">
                        <a [routerLink]="'/sobre'">Sobre</a>
                    </li>
                    <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">
                        <a (click)="runTo('#services', 70, 1500)">Adestramento de Cães</a>
                    </li>
                    <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">
                        <a href="#howItWorks">Dog Walker</a>
                    </li>
                    <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">
                        <a [routerLink]="'/caes-adestrados'">Cães Adestrados</a>
                    </li>
                    <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">
                        <a (click)="runTo('#contact', 70, 1500)">Contatos</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>