<section id="agendeVisita">
    <div class="mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class=""> Agende uma visita </h1>     
                <h4>Treino que realmente funciona! Qualquer raça, idade e tamanho! </h4>  
                <a class="pointer" onclick="equipe.main.runTo('#contact', 40, 1500)">Entre em contato</a>    
            </div>
        </div>
    </div>
</section> 
