//Color Schema
@import '../../../../assets/sass/color';

//Fonts
@import '../../../../assets/sass/fonts';

// Pre-sets
@import '../../../../assets/sass/main';

#agendeVisita {
	background: url('../../../../assets/images/agende/dog-eats.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
	padding: 35px 0;
	color: $pure_white;
	z-index: 999999;

	.mask {
	    background: url('../../../../assets/images/agende/dots.png') repeat;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    opacity: 0.9;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 30px;
		position: relative;    
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 10px;
		
		&:after {
			content: '';        
			width: 60px;
			height: 4px;
			background-color: $pure_white;
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	a {
		@include btn-std(1px solid $pure_white, $pure_white, $text_color);
	}
}