<section id="services">                
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">  
                <h1 class="heading"> Adestramento de cães </h1>
                <span class="hidden">Nossos Alunos</span>
            </div>  
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="container-services">
                    <div class="service-list">
                        <div class="icon-block">
                            <i class="fa fa-paw"></i>
                            <img src="assets/images/services/obediencia.jpg" class="img-circle" alt="...">
                        </div>
                        <div class="box-heading">
                            <h2 class="heading">Obediência</h2>
                        </div>                                    
                    </div>

                    <div class="service-list">
                        <div class="icon-block">
                            <i class="fa fa-paw"></i>
                            <img src="assets/images/services/ataque.jpg" class="img-circle" alt="...">
                        </div>
                        <div class="box-heading">
                            <h2 class="heading">Cão de Guarda</h2>
                        </div>
                    </div>

                    <div class="service-list">
                        <div class="icon-block">
                            <i class="fa fa-paw"></i>
                            <img src="assets/images/services/xixi.jpg" class="img-circle" alt="...">
                        </div>
                        <div class="box-heading">
                            <h2 class="heading">Maus hábitos</h2>
                        </div>                                    
                    </div>

                    <div class="service-list">
                        <div class="icon-block">
                            <i class="fa fa-paw"></i>
                            <img src="assets/images/services/anti_envenenamento.jpg" class="img-circle" alt="...">
                        </div>
                        <div class="box-decription">
                            <div class="box-heading">
                                <h2 class="heading">Anti-envenenamento</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>