
/*
Author: Aline Alves Ferreira
18.May.2017
*/

//Color Schema
@import '../../../../assets/sass/color';

//Fonts
@import '../../../../assets/sass/fonts';

// Pre-sets
@import '../../../../assets/sass/main';

#services {
	background-color: $pure_ice;
	padding: 50px 0;

	.container-services {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.service-list{
			text-align: center;
			padding: 30px 15px;
			width: 270px;
	
			.icon-block { 
				position: relative;
				margin-bottom: 20px;
				display: inline-block;
				border: 2px solid $lighter_gray;
				border-radius: 100%;
				padding: 5px;
	
				&:after {
					content: ' ';
					width: 201px;
					height: 201px;
					position: absolute;
					background-color: #343434;
					border-radius: 100%;
					top:  0;
					left: 0;
					margin: 5px;
					opacity: 0;
					z-index: 0;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
					-webkit-transform: scale(0);
					-moz-transform: scale(0);
					-ms-transform: scale(0);
					-o-transform: scale(0);
					transform: scale(0);
				}
	
				i {
					position: absolute;
					width: 100%;
					top: 82.5px;
					color: $pure_white;
					font-size: 35px;
					z-index: 1;
					opacity: 0;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}
			}
	
			&:hover {
				> .icon-block:after {
					opacity: 0.7;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}
	
				i {
					opacity: 1;
				}
			}
	
			.box-heading {
				height: 54px;
				line-height: 54px;
				
				h2.heading {
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
					margin: 0;
					text-transform: uppercase;
					font-size: 20px !important;
				}
			}
	
			p {
				line-height: 25px;
				letter-spacing: 0.9px;
			}		
		}
	}
	
	.see-more {
		@include btn-std(1px solid $text_color, $text_color, $pure_white);
	}	
}