// Color Schema
@import '../../../../assets/sass/color';

//Fonts
@import '../../../../assets/sass/fonts';

// Pre-sets
@import '../../../../assets/sass/main';

#banner {
	max-height: calc(100vh - 103px);
	overflow: hidden;

	.item {
		position: relative;

		.slide_cont {
			position: absolute;
			top: 12%;
			left: 100px;
			color: $pure_white;
			text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);

			span {
				display: block;
				line-height: 53px;
			}

			.line-one {
				font-weight: 300;
				font-size: 55px;
			}

			.line-two {
				font-weight: 500;
				font-size: 55px;
			}

			.line-three {
				font-size: 18px;
				font-weight: 300;
				line-height: 28px;
				margin-top: 18px;
			}
		}
	}

	.slick-slide {
		img {
			width: 100%;
			object-fit: cover;
		}
	}    

	.slick-prev, 
	.slick-next {
		width: 40px;
		height: 43px;
		position: absolute;
		z-index: 2;
		padding: 0;
		top: 50%;
		transform: translateY(-50%);
		color: transparent;
		background: transparent;
		border: none;
		-moz-transition: .3s all;
		-webkit-transition: .3s all;
		-o-transition: .3s all;
		-ms-transition: .3s all;
		transition: .3s all;
		outline: none;		

		&:before {
			font-family: 'LineAwesome';
			font-size: 50px;
			font-weight: bold;
			color: $pure_white;
		}
	}

	.slick-prev {
		left: 15px;
		&:before {
			content: "\F111";
		}
	}

	.slick-next {
		right: 15px;
		&:before {
			content: "\F112";
		}
	}
	
	ul.slick-dots {
		display: flex;
		justify-content: center;	
		margin: 0;
		padding: 14px 0;	
		list-style-type: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50px);

		li {
			padding: 0 5px;
		}

		button {
			display: block;
			width: 14px;
			height: 14px;
			border: 1px solid $medium_gray;
			border-radius: 100%;
			background-color: $pure_white;			
			text-indent: -9999px;

			&:focus {
				outline: none;
			}
		}
	}

}