/*
Author: Aline Alves Ferreira
18.May.2017
*/

//Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

//Header
@import '../../../assets/sass/header';

/*===========================================*/
/* This is the file with home style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/

#services, #howItWorks, #cases, #contact{
	padding: 50px 0;
}

#about {
	padding: 50px 0;

    h1.heading-about  {
		text-align: left;
		margin-bottom: 20px;
		font-size: 35px;
		color: $main_color;
		font-family: $main_font;

		span {
			font-size: 18px;
			display: block;
			color: $text_color;
			font-weight: 400;
		}
	}

    p {
    	font-size: 14px;
		line-height: 21px;
		font-weight: 300;
    	letter-spacing: 1px;
	}
	
	.see-more {
		@include btn-std(1px solid $text_color, $text_color, $pure_white);
    }

    .about-photos,
    .about-videos { 
        margin-top: 30px; 
        margin-bottom: 30px;
        clear: both;
        
        h3.heading {
            color: rgba( 0, 0, 0, 0.85 );
            font-weight: 300;
            margin-bottom: 20px;
            letter-spacing: 1.4px;
            font-size: 16px;
            text-transform: uppercase;
            display: block;            
        }
        
        a.item {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border: 1px solid rgba( 0, 0, 0, 0.09 );
            margin-bottom: 20px;
            margin-right: 15px;
            padding: 5px;

            &:hover {
                .item-hover, .img-icon{
                    opacity: 1;
                }

                .img-icon {
                    opacity: 1;
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1,1,1);
                }

                img {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    -webkit-transform: scale(1.3) rotate(7deg);
                    -moz-transform: scale(1.3) rotate(7deg);
                    transform: scale(1.3) rotate(7deg);

                }
            }
            &:focus {
                outline: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
            }

            .item-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0,0,0,0.7);
                opacity: 0;

                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                                
                align-items: center;		    
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                
                justify-content: center;
                -webkit-justify-content: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;

                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
            }

            .img-icon {
                position: absolute;
                font-size: 20px;
                color: #FFF;
                background-color: rgba( 0, 0, 0, 0.5 );
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                opacity: 0;
                z-index: 2;                    

                -webkit-transform: scale3d(3,3,1);
                transform: scale3d(3,3,1);

                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
            }
        }
    }
    
    .about-videos {
        a.item {
            .img-icon { 
                font-size: 40px;
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
        }
    }
}

#agendeVisita {
	background: $pure_black;
	position: relative;
	padding: 35px 0;
	color: $pure_white;

	h1 {
		margin-top: 0;
		margin-bottom: 30px;
		position: relative;    
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 10px;
		
		&:after {
			content: '';        
			width: 60px;
			height: 4px;
			background-color: $pure_white;
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	a {
		@include btn-std(1px solid $pure_white, $pure_white, $text_color);
	}
}

//Modal Gallery
@import '../../../assets/sass/modalGallery';

//Footer
@import '../../../assets/sass/footer';

@media (max-width: 767px){
    #about {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}



