<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1 class="heading-about">
                    <span>Nossa História</span> 
                    Nós somos Equipe Raça
                </h1>  
      
                <p class="text-justify">
                    A Equipe Raça foi criada pelo Tenente Severino Amador de Souza que por durante 35 anos foi responsável pelo treinamento de centenas de cães do Canil da Polícia Militar do Pará.
                </p>
                <p class="text-justify">
                    O amor pelos peto foi tão grande que numa quinta-feira de 1986 no estado do Pará nasceu a empresa de adestramento de cães.
                    A equipe raça atualmente é liderada pelo seu filho Evaldo Silva que além de herdar a empresa, herdou o mesmo amor e propósito que seu pai.</p>
                <p class="text-justify">
                    Desde sempre trazendo carinho, compromisso e acima de tudo respeito pelo cafezinho junto com uma equipe altamente qualificada.
                </p>

                <div class="about-photos gallery">
                    <h3 class="heading">Fotos</h3>					

                    <a class="item" [href]="'assets/images/fotos/antigas/' + img" *ngFor="let img of images">
                        <img [src]="'assets/images/fotos/antigas/' + img" alt="" >	
                        <div class="item-hover">
                            <i class="fa fa-search img-icon"></i>
                        </div>  
                    </a>
                    <!-- /.item -->                                       
                </div>
                <!-- /.about-photos -->

                <div class="about-videos">
                    <h3 class="heading">Videos</h3> 
                    
                    <a class="item popup-youtube" *ngFor="let video of videos" [href]="'http://www.youtube.com/watch?v=' + video">
                        <img [src]="'http://img.youtube.com/vi/'+ video + '/1.jpg'" alt="Equipe Raça" >	
                        <div class="item-hover">
                            <i class="la la-play-circle img-icon"></i>
                        </div>                                        
                    </a>
                    <!-- /.item --> 

                <!-- <a class="item popup-youtube" href="http://www.youtube.com/watch?v=-5qH1g4eVFw">
                    <img src="http://img.youtube.com/vi/-5qH1g4eVFw/1.jpg" alt="Equipe Raça" >	
                    <div class="item-hover">
                        <i class="la la-play-circle img-icon"></i>
                    </div>                                        
                </a>
                                        
                <a class="item popup-youtube" href=" http://www.youtube.com/watch?v=1bmWVBIypTM">
                    <img src="http://img.youtube.com/vi/1bmWVBIypTM/1.jpg" alt="Educador Canino - Ataque" title="Educador Canino - Ataque">	
                    <div class="item-hover">
                        <i class="la la-play-circle img-icon"></i>
                    </div>                                        
                </a>
                
                <a class="item popup-youtube" href="http://www.youtube.com/watch?v=VK_2_Cx3UTM">
                    <img src="http://img.youtube.com/vi/VK_2_Cx3UTM/1.jpg" alt="Educador Canino - Ataque e defesa" title="Educador Canino - Ataque e defesa">	
                    <div class="item-hover">
                        <i class="la la-play-circle img-icon"></i>
                    </div>                                        
                </a>
                
                <a class="item popup-youtube" href="http://www.youtube.com/watch?v=rCoXlciKUIg">
                        <img src="http://img.youtube.com/vi/rCoXlciKUIg/1.jpg" alt="Educador Canino - Ataque e defesa - pt 2" title="Educador Canino - Ataque e defesa - pt 2">	
                        <div class="item-hover">
                            <i class="la la-play-circle img-icon"></i>
                        </div>                                        
                    </a>
                    
                    <a class="item popup-youtube" href="http://www.youtube.com/watch?v=-rBnj7fH9LU">
                        <img src="http://img.youtube.com/vi/rBnj7fH9LU/1.jpg" alt="Educador Canino - Obediência" title="Educador Canino - Ataque e defesa - pt 2">	
                        <div class="item-hover">
                            <i class="la la-play-circle img-icon"></i>
                        </div>                                        
                    </a>
                    
                    <a class="item popup-youtube" href="https://www.youtube.com/watch?v=ZE8v8iPjiUE">
                        <img src="http://img.youtube.com/vi/ZE8v8iPjiUE/1.jpg" alt="Educador Canino - Obediência" title="Educador Canino - Comando Urinar">	
                        <div class="item-hover">
                            <i class="la la-play-circle img-icon"></i>
                        </div>                                        
                    </a> -->
                                                
                    
                    
            </div>
            <!-- /.dog-videos -->
            </div>
            <div class="col-md-4 hidden-xs">
                <app-contact-aside></app-contact-aside>
            </div>
        </div>
    </div>
</section> 