/*
Author: Aline Alves Ferreira
18.May.2017
*/

// Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

/*===========================================*/
/* This is the file with home style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/

#dog {
    background-color: $pure_ice;
    padding: 50px 0;
    
    h1 {
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #555d65;
        margin-bottom: 5px;
    }
    
    span.sub-header {
        display: block;
        color: #989898;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    .dog-feat,
    .dog-photos,
    .dog-videos {
        margin-bottom: 30px;
        clear: both;

        h3.heading {
            color: rgba( 0, 0, 0, 0.85 );
            font-weight: 300;
            margin-bottom: 20px;
            letter-spacing: 1.4px;
            font-size: 16px;
            text-transform: uppercase;
            display: block;            
        }
    }

    .dog-feat {
        display: table;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.09);
        padding-bottom: 30px;

        .box-feat {
            float: left;

            .heading {
                border-bottom: 2px solid $main_color;
                padding-bottom: 3px;
            }

            .record {
                list-style: none;
                padding-left: 0;
                

                strong {
                    text-transform: uppercase;
                    display: inline-block;
                    width: 50px;
                    margin-right: 10px;
                }
            }

            .training {
                padding-left: 20px;
            }
        }

        .box-img {
            width: 300px;
            height: 300px;
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            border: 2px solid #E4E4E4;

            padding: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &:hover {
            img {
                opacity: .8;
            }
        }
    }

    .dog-photos,
    .dog-videos {       
        a.item {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 150px;
            height: 150px;
            border: 1px solid rgba( 0, 0, 0, 0.09 );
            margin-bottom: 20px;
            margin-right: 15px;
            padding: 5px;

            &:hover {
                .item-hover, .img-icon{
                    opacity: 1;
                }

                .img-icon {
                    opacity: 1;
                    -webkit-transform: scale3d(1,1,1);
                    transform: scale3d(1,1,1);
                }

                img {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    -webkit-transform: scale(1.3) rotate(7deg);
                    -moz-transform: scale(1.3) rotate(7deg);
                    transform: scale(1.3) rotate(7deg);

                }
            }

            &:focus {
                outline: none;
            } 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
            }

            .item-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0,0,0,0.7);
                opacity: 0;

                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                                
                align-items: center;		    
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                
                justify-content: center;
                -webkit-justify-content: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;

                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
            }

            .img-icon {
                position: absolute;
                font-size: 20px;
                color: #FFF;
                background-color: rgba( 0, 0, 0, 0.5 );
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                opacity: 0;
                z-index: 2;                    

                -webkit-transform: scale3d(3,3,1);
                transform: scale3d(3,3,1);

                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
            }
        }
    }
    
    .dog-videos {
        a.item {
            .img-icon { 
                font-size: 40px;
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
        }
    }
    
    aside {
        h3.heading {
            color: rgba( 0, 0, 0, 0.85 );
            font-weight: 300;
            margin-bottom: 20px;
            letter-spacing: 1.4px;
            font-size: 13px;
            text-transform: uppercase;
            display: block;
        }

        .box-dogs {
            border-top: 1px solid rgba( 0, 0, 0, 0.09 );
            margin-top: 20px;
            
            .dog {
                display: table; 
                margin-bottom: 15px;

                a {
                    color: $text_color;

                    &:hover {
                        color: $space_gray;
                    }

                    .box-img {
                        width: 70px;
                        height: 70px;
                        margin-right: 15px;
                        float: left;
                        border: 1px solid #E4E4E4;
                        padding: 5px;
                    }
    
                    .box-description {
                        float: left;
    
                        .name {
                            font-weight: 500;
                            display: block;
                        }
    
                        .feat {
                            font-weight: 300;
                            
                        }
                    }
                }                
            }
        }

        
    }
}

//Modal Gallery
@import '../../../assets/sass/modalGallery';

@media (max-width: 991px){
	.main {
		#dog {
			aside {
                .box-dogs {
                    display: none;
                }

                .social-media {
                    border-top: none;
                }
			}
		}
	}
}

