<section id="dog">                
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1 class="bottom_space40 dogName"> {{dog.display_name}} </h1>
                <span class="sub-header hidden">SRD (Sem Raça Definida) - Macho</span>

                <div class="dog-feat">  
                    <div class="box-img">
                        <img class="" [src]="'assets/images/clients/'+ dog.name + '/' + dog.cover" alt="" title="" />
                    </div>   

                    <div class="box-feat">
                        <h3 class="heading">Ficha técnica: </h3>
                        <ul class=record>
                            <li>
                                <strong>Nome: </strong> <span class="value">{{dog.display_name}}</span>
                            </li>
                            <li *ngIf="dog.age">
                                <strong>Idade: </strong> <span class="value">{{dog.age}}</span>
                            </li>
                            <li>
                                <strong>Raça: </strong> <span class="value">{{dog.breed}}</span>
                            </li>
                            <li>
                                <strong>Porte: </strong> <span class="value">{{dog.size}}</span>
                            </li>
                            <li>
                                <strong>Sexo: </strong> <span class="value">{{dog.gender}}</span>
                            </li>
                        </ul>        
                        <h3 class="heading">Treinamento: </h3>
                        <ul class="training" *ngFor="let item of dog.training">
                            <li>{{item}}</li>
                        </ul>
                    </div>

                </div>
                <!-- /.dog-feat-->

                <div class="dog-photos gallery" *ngIf="dog.images">
                    <h3 class="heading">Fotos</h3>					
                     
                    <a *ngFor="let img of dog.images" class="item" [href]="'assets/images/clients/' + dog.name + '/'+ img">
                        <img [src]="'assets/images/clients/' + dog.name + '/'+ img" alt="" >	
                        <div class="item-hover">
                            <i class="fa fa-search img-icon"></i>
                        </div>                                        
                    </a>
                    <!-- /.item -->                                    
                </div>
                <!-- /.dog-photos -->

                <div class="dog-videos" *ngIf="dog.videos">
                    <h3 class="heading">Videos</h3> 
                     <a *ngFor="let video of dog.videos" class="item popup-youtube pointer" [href]="'https://www.youtube.com/watch?v='+ video">
                        
                        <img [src]="'http://img.youtube.com/vi/' + video + '/1.jpg'" alt="" >	
                        <div class="item-hover">
                            <i class="fa fa-search img-icon"></i>
                        </div>                                        
                    </a>
                    <!-- /.item -->                        
                </div>
                <!-- /.dog-videos -->
            </div>

            <aside id="asideLeft" class="col-xs-12 col-md-4">
                <div class="box-dogs">
                    <h3 class="heading">Mais Alunos</h3>
                    <div class="dog hidden">
                        <div class="box-img">
                            <img class="img-responsive" src="assets/img/clients/pandora/pandora_thumb.png" alt="" title=""/>
                        </div>
                        <div class="box-description">
                            <span class="name">Pandora</span>
                            <i class="feat">Pastor Alemão - Fêmea</i>
                        </div>
                    </div>

                    <div class="dog hidden">
                        <div class="box-img">
                            <img class="img-responsive" src="assets/img/clients/eiko/eiko_thumb.png" alt="" title=""/>
                        </div>
                        <div class="box-description">
                            <span class="name">Eiko</span>
                            <i class="feat">Dobermann - Fêmea</i>
                        </div>
                    </div>

                    <div class="dog hidden">
                        <div class="box-img">
                            <img class="img-responsive" src="assets/img/clients/graice/graice_thumb.png" alt="" title=""/>
                        </div>
                        <div class="box-description">
                            <span class="name">Graice</span>
                            <i class="feat">Pastor Belga - Fêmea</i>
                        </div>
                    </div>
                </div>

                <app-contact-aside></app-contact-aside>
            </aside>
        </div>
    </div>
</section>
