//Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

/*********************************
*  CONTACT  ASIDE
**********************************/

    h3.heading {
        color: rgba(0,0,0,0.85);
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1.4px;
        font-size: 13px;
        text-transform: uppercase;
        display: block
    }

    .social-media,
    .box-contact {
        border-top: 1px solid rgba( 0, 0, 0, 0.09 );
        margin-top: 20px;
    }

    .social-media {                
        .social-links {
            list-style-type: none;
            padding-left: 0;
            margin-top: 20px;           

            li {
                display: inline;

                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 44px;
                    text-align: center;
                    color: #212121;
                    margin: 0 5px;
                    background-color: $pure_white;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;

                    &:hover, &:focus {
                        text-decoration: none;
                        outline: none;
                        background-color: $main_color;
                        color: $pure_white;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .box-contact {            
        a {
            display: block;
            padding: 5px 0;
            color: $text_color;

            &:hover {
                text-decoration: none;
                color: $pure_black;

                i {
                    border-color: $pure_black;
                }
            }

            i {
                font-size: 20px;
                margin-right: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid #898989;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
            }
        }
    }
