<div class="social-media">
  <h3 class="heading">Redes sociais</h3>
  <ul class="social-links">
      <li>                                            
          <a href="https://www.facebook.com/profile.php?id=100009229755983" title="Facebook" target="_blank">
              <i class="fa fa-facebook-f"></i>
          </a>
      </li>
      <li>
          <a href="https://www.instagram.com/equipe_raca" title="Instagram" target="_blank">
              <i class="fa fa-instagram"></i>
          </a>
      </li>
      <li>
          <a href="https://api.whatsapp.com/send?phone==+5511993395412&text=Olá,%20Gostaria%20de%20tirar%20algumas%20dúvidas!" data-action="share/whatsapp/share" target="_blank" title="WhatsApp">
              <i class="fa fa-whatsapp" title="WhatsApp"></i>
          </a> 
      </li>
      <li>
          <a href="https://www.youtube.com/channel/UCbCvBqcGrtj-LtFPOA6Us-g" title="YouTube" target="_blank">
              <i class="fa fa-youtube-play"></i>
          </a>
      </li>
  </ul>
</div>
<div class="box-contact">
  <h3 class="heading">Contato</h3>
  <a href="tel:01199339-5412"><i class="fa fa-mobile-phone mobile"></i> Cel.: (11) 99339-5412</a>
  <a href="tel:0115814-6994"><i class="fa fa-mobile-phone mobile"></i> Tel.: (11) 5814-6994</a>
  <a href="mailto:contato@equiperaca.com.br">
      <i class="la la-envelope email"></i>
      contato@equiperaca.com.br
  </a>
</div>