/*
Author: Aline Alves Ferreira
18.May.2017
*/

// Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

/*===========================================*/
/* This is the file with home style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/


#services, #howItWorks, #cases, #contact{
	padding: 50px 0;
}

#services {
	background-color: $pure_ice;

	.container-services {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.service-list{
			text-align: center;
			padding: 30px 15px;
			width: 270px;
	
			.icon-block { 
				position: relative;
				margin-bottom: 20px;
				display: inline-block;
				border: 2px solid $lighter_gray;
				border-radius: 100%;
				padding: 5px;
	
				&:after {
					content: ' ';
					width: 201px;
					height: 201px;
					position: absolute;
					background-color: #343434;
					border-radius: 100%;
					top:  0;
					left: 0;
					margin: 5px;
					opacity: 0;
					z-index: 0;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
					-webkit-transform: scale(0);
					-moz-transform: scale(0);
					-ms-transform: scale(0);
					-o-transform: scale(0);
					transform: scale(0);
				}
	
				i {
					position: absolute;
					width: 100%;
					top: 82.5px;
					color: $pure_white;
					font-size: 35px;
					z-index: 1;
					opacity: 0;
					-moz-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}
			}
	
			&:hover {
				> .icon-block:after {
					opacity: 0.7;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}
	
				i {
					opacity: 1;
				}
			}
	
			.box-heading {
				height: 54px;
				line-height: 54px;
				
				h2.heading {
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
					margin: 0;
					text-transform: uppercase;
					font-size: 20px !important;
				}
			}
	
			p {
				line-height: 25px;
				letter-spacing: 0.9px;
			}		
		}
	}
	
	.see-more {
		@include btn-std(1px solid $text_color, $text_color, $pure_white);
	}	
}

#howItWorks {
	background: url('../../../assets/images/howItWorks/back.png') repeat center top fixed;

	.box-step {
		margin-top: 25px;
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;

		justify-content: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;

		.item-step {
			flex-grow: 1;
			flex-basis: 0;
			
			padding: 0 15px;
			text-align: center;
			position: relative;

			.box-icon {
				position: relative;
				width: 100px;
				height: 100px;
				line-height: 124px;
				border: 2px solid $main_color_lighter;
				margin: 20px auto 15px;
				background: #fff;
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				cursor: pointer;

				&:hover {
					background: $main_color;
					transform: rotate(45deg);

					i {
						transform: rotate(-45deg);
						color: $pure_white;
					}

					&:before {
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
					}
				}

				&:before {
					content: '';
					position: absolute;
					left: 50%;
					right: 50%;
					top: 50%;
					bottom: 50%;
					background: $main_color;
					transition: all 0.5s;
				}
				i {
					font-size: 50px;
				}
			}

			.title {
				font-size: 18px;
				margin-bottom: 12px;
				height: 54px;
				display: flex;
				display: -webkit-flex;
				display: -ms-flexbox;
				align-items: center;		    
				-webkit-align-items: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				justify-content: center;
				-webkit-justify-content: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				text-align: center;
			}

			p {
				font-size: 14px;
				text-align: center;
			}
		}
	}

	.see-more {
		@include btn-std(1px solid $text_color, $text_color, $pure_white);
	}
}

#agendeVisita {
	background: url('../../../assets/images/agende/dog-eats.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
	padding: 35px 0;
	color: $pure_white;
	z-index: 999999;

	.mask {
	    background: url('../../../assets/images/agende/dots.png') repeat;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    opacity: 0.9;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 30px;
		position: relative;    
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 10px;
		
		&:after {
			content: '';        
			width: 60px;
			height: 4px;
			background-color: $pure_white;
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	a {
		@include btn-std(1px solid $pure_white, $pure_white, $text_color);
	}
}

#contact {
	background-color: $pure_white;

	.contact-form{
		margin-top: 25px;

		p.tip {
			letter-spacing: 0.9px;
			max-width: 650px;
			margin: 0 auto 25px;
			text-align: justify;
		}

		#contact-form {
			label {
				font-family: $main_font;
				color: $pure_black;
				font-size: 12px;				
				text-transform: uppercase;
			}

			textarea.form-control,
			input.form-control {
				border: 1px solid $medium_gray !important;
				background-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 10px;

				&:focus {
					border: 1px solid $space_gray !important;
				}
			}

			input.form-control {
				height: 40px;
			}

			textarea.form-control {
				height: 120px;
				margin-bottom: 20px;
			}

			.form-btn {
				color: $pure_white;
				background-color: $main_color;
				width: 160px;
				border: 1px solid $main_color;
				padding: 12px 20px;
				letter-spacing: 2px;
				text-transform: uppercase;

				&:hover,
				&:focus{
					color: $main_color;
					background-color:transparent;
					border: 1px solid $main_color;
					outline: none;
				}
			}
			
			::-webkit-input-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			::-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-ms-input-placeholder {  
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			.alert {
				display: none;
				i {
					font-size: 25px;
					margin-right: 10px;
					vertical-align: bottom;
				}
			}
		}
	}

	.line {
		width: 55px;
		height: 2px;
		background-color: $main_color;
		margin: 45px auto;
	}

	.contact-lateral {
		padding-left: 30px;

		h3.header-contact {
			font-size: 22px;
			font-weight: 300;
			display: inline-block;
			width: 310px;
			padding-bottom: 5px;
			border-bottom: 1px solid $space_gray;
			color: $space_gray;
		}
		
		.box-contact-info {
			width: 325px;
			text-align: left;

			.contact-info {
				margin-top: 18px;

				.contact-left { 
					width: 40px;
					height: 40px;
					display: inline-flex;
									
					align-items: center;		    
					-webkit-align-items: center;
					-webkit-box-align: center;
					-ms-flex-align: center;

					justify-content: center;
					-webkit-justify-content: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					margin-right: 10px;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border: 1px solid $space_gray;

					i {
						vertical-align: middle;
						font-size: 22px;
						color: $space_gray;

						&.cel {
							font-size: 27px;
						}
					}
				}

				.contact-right {
					display: inline;
					height: 40px;
					line-height: 40px;
					font-size: 18px;
					font-weight: 300;
					color: $space_gray;
				}

				p {
					font-size: 16px;
					font-weight: 500;
					color: $pure_black;
					margin-bottom: 0;
					margin-left: 20px;
				}
			}
		}
	}	
}

.modal-box {
	max-width: 550px;
	background: $pure_white;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;

	img {
		width: 100%;
		height: 100%;
	}

	.modal-box-content {
		padding: 25px;

		h4 {
			font-size: 26px;
			font-weight: 800;
			color:$pure_black;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		p {
			font-size: 15px;
			text-align: left;
			line-height: 22px;
			padding: 25px 0;
			padding-top: 10px;
			max-width: 800px;
			font-weight: 300;
			letter-spacing: 1px;
			color: $medium_gray;
		}
	}
}

//Footer
@import '../../../assets/sass/footer';

@media (max-width: 1199px){
	.main {
		#about {
			background-image: none;
		}

		#services {
			.container-services {
				.service-list {
					width: 300px;
					padding: 30px;
				}
			}
		}
	}
}

@media (max-width: 991px){
	.main {
		#banner {
			height: auto;
		}

		#about {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		#contact {
			.contact-lateral {
				text-align: center;
				margin-top: 30px;
		
				.box-contact-info {
					margin: 0 auto;
				}		
			}
		}
	}
}


@media (max-width: 767px){
	.main {
		#banner {
			.slick-dots {
				display: none !important;
			}
		}
	}
}


