<section id="cases">                        
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading"> Cães Adestrados </h1>
                <span class="hidden">Nossos Alunos</span> 
            </div>
            
            <!--GRID START-->
            <div class="col-xs-12">
                <ul class="filters filters-group">
                    <li class="filter is-checked" data-filter="*">Todos</li>
                    <li class="filter" data-filter=".jobs">Obediência</li>
                    <li class="filter" data-filter=".lab">Cão de Guarda</li>  
                    <li class="filter" data-filter=".game">Outros</li> 
                </ul>

                <isotope-grid id="isotopeGrid" class="mGrid">
                  <isotope-item *ngFor="let dog of dogs" [class]="'grid-item'">
                      
                      <a routerLink="/cao-adestrado/{{dog.id}}">
                          <img [src]="'assets/images/clients/'+ dog.name + '/' + dog.name + '.jpg'" alt="">
                          <div class="itemHover">
                              <div class="centered">
                                  <div class="dog-name">{{dog.display_name}}</div>
                                  <div class="breed-gender">{{dog.breed}} - {{dog.gender}}</div>
                                  <span class="saiba-mais">Saiba Mais</span>
                              </div>
                          </div>
                      </a> 
                  </isotope-item>
                </isotope-grid>
            </div>          
        </div>
    </div>
</section>

<app-agende></app-agende>
