/*
Author: Aline Alves Ferreira
18.May.2017
*/

// Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

#cases {
	background: $pure_ice;
	padding: 50px 0;
	
	.filters {
		padding-top: 40px;
		padding-bottom: 30px;
		padding-left: 0;
		text-align: center;

		li {
			cursor: pointer;
			display: inline-block;
			margin:0 10px 8px 0;
			font-weight: 300;
			text-transform: uppercase;
			color: $pure_black;
			letter-spacing: 1px;
			padding: 6px 15px;
			text-align:center;
			transition: all 0.5s;
			-moz-transition: all 0.5s;
			-webkit-transition: all 0.5s;

			&.is-checked, &.is-checked:hover { 
				color: $pure_white !important;
				background-color:$main_color;
			}

			&:hover {
				color: $pure_white !important;
				background-color:$main_color_lighter;
			}
		}
	}

	.mGrid {

		.grid-item {
			width: 33%;
			padding-right: 30px;
			padding-bottom: 30px;
			position: relative;

			@media (max-width: 479px) {
				padding-right: 0px;
			}

			a {
				display: block;
				position: relative;
				overflow: hidden;
				box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.2);

				&:hover .itemHover {
					opacity: 1; 
				}

				&:hover img {
					-webkit-transform: scale3d(1.1,1.1,1.1);
					transform: scale3d(1.1,1.1,1.1);
					-webkit-transform: scale(1.3) rotate(7deg);
					-moz-transform: scale(1.3) rotate(7deg);
					transform: scale(1.3) rotate(7deg);
				}

				.itemHover {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background:rgba(0,0,0,0.7);
					opacity: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					transition: all 0.5s ease-in-out;
					-webkit-transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;

					.centered {
						width: 100%;
						text-align: center;

						.dog-name {
							font-family: $snd_font;
							color: $main_color;
							font-size: 31px;
						}

						.breed-gender {
							width: 100%;
							color: $pure_white;
							font-family: $main_font, sans-serif;
							font-size: 14px;
							font-weight: 300;
							letter-spacing: 1px;
							padding: 0 10px;
	
							@media (min-width: 768px) and (max-width: 991p) {
								bottom: 20%;
							}
						}

						.saiba-mais {
							color: $pure_white;
							border: 1px solid $pure_white;
							padding: 6px 20px;
							display: inline-block;
							margin-top: 10px;
							transition: all .5s;
							-webkit-transition: all .5s;
							-moz-transition: all .5s;

							&:hover {
								color: $main_color_lighter;
								border-color: $main_color_lighter;
							}
						}
					}					
				}
			}

			&.item-five { 
				width: 33%; 
			}
			&.item-three { 
				width: 32%; 
			}
			&.item-four { 
				width: 29%; 
			}

			@media (max-width: 479px) {
				&.item-five { width: 100%; }
				&.item-three { width: 100%; }
				&.item-four { width: 100%; }
			}

			@media (min-width: 480px) and (max-width: 770px) {
				&.item-five { width: 50%; }
				&.item-three { width: 50%; }
				&.item-four { width: 45%; }
			}

		}
		
		img{
			width: 100%;
			height: 100%;
			transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
		}
	}
	
}