<section id="contact">
    <h1 class="heading">Agende uma visita</h1>   
    
    <div class="container">
        <!-- Contact Form -->
        <div class="contact-form">
            <div class="row">
                <div class="col-xs-12">
                    <p class="tip">
                        Ainda ficou com alguma dúvida? Envie-nos uma mensagem, que lhe responderemos o mais breve possível. Ou se preferir, sinta-se à vontade para nos ligar ou mandar uma mensagem pelo Whatsapp se precisar de uma resposta mais rápida!
                    </p>
                </div>

                <div class="col-md-6">
                    <form id="contact-form" method="POST" action="submit.php">
                        <div class="form-group"> 
                            <label>Nome:</label>
                            <input type="text" class="form-control" placeholder="Digite o seu nome" name="name">
                        </div>

                        <div class="form-group">
                            <label>E-mail:</label>
                            <input type="text" class="form-control" placeholder="Digite o seu e-mail" name="email">
                        </div>

                        <div class="form-group">
                            <label>Telefone:</label>
                            <input type="text" class="form-control phone" placeholder="(XX)XXXX-XXXX" name="phone">
                        </div>

                        <div class="form-group">
                            <label>Mensagem:</label>
                            <textarea class="form-control" rows="2" placeholder="Informe a sua dúvida" name="message"></textarea>
                        </div>

                        <div class="col-xs-12 alert alert-danger" role="alert">
                            <i class="la la-exclamation-circle"></i> Ocorreu um erro. Tente novamente mais tarde.
                        </div>
        
                        <div class="col-xs-12 alert alert-success" role="alert">
                            <i class="la la-check-circle"></i> Formulário enviado com sucesso!
                        </div>

                        <div class="form-group text-center">
                            <button id="sendForm" class="btn btn-default form-btn" type="submit">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>

                <div class="line visible-xs"></div>

                <div class="col-md-6 contact-lateral">
                    <h3 class="header-contact">Fale Conosco: </h3>
                    <div class="box-contact-info">
                        <div class="contact-info">
                            <div class="contact-left">
                                <i class="fa fa-mobile-phone cel"></i>
                            </div>
                            <div class="contact-right">
                                Cel: (11) 99339-5412 - Oi
                            </div>                                                   
                        </div>

                        <div class="contact-info">
                            <div class="contact-left">
                                <i class="fa fa-mobile-phone cel"></i>
                            </div>
                            <div class="contact-right">
                                Tel: (11) 5814-6994
                            </div>
                        </div>

                        <div class="contact-info">
                            <div class="contact-left">
                                <i class="la la-envelope"></i>
                            </div>
                            <div class="contact-right">
                                contato@equiperaca.com.br
                            </div>
                        </div>  
                    </div> 
                    <h3 class="header-contact">Parceiros: </h3>
                    <div class="box-contact-info">
                        <div class="contact-info">
                            <div class="contact-left">
                                <i class="fa fa-mobile-phone cel"></i>
                            </div>
                            <div class="contact-right">
                                Tel: (11) 98613-5225 - Priscila (Veterinária)
                            </div>                                                   
                        </div>
                        <div class="contact-info">
                            <div class="contact-left">
                                <i class="fa fa-mobile-phone cel"></i>
                            </div>
                            <div class="contact-right">
                                Tel: (11) 95025-3851 - Sophie (Banho e Tosa)
                            </div>                                                   
                        </div>
                    </div>                             
                </div>  
            </div>
        </div>
    </div> 
</section>
