
//Color Schema
@import '../../../../assets/sass/color';

//Fonts
@import '../../../../assets/sass/fonts';

// Pre-sets
@import '../../../../assets/sass/main';

#contact {
    background-color: $pure_white;
    padding: 50px 0;

	.contact-form{
		margin-top: 25px;

		p.tip {
			letter-spacing: 0.9px;
			max-width: 650px;
			margin: 0 auto 25px;
			text-align: justify;
		}

		#contact-form {
			label {
				font-family: $main_font;
				color: $pure_black;
				font-size: 12px;				
				text-transform: uppercase;
			}

			textarea.form-control,
			input.form-control {
				border: 1px solid $medium_gray !important;
				background-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 10px;

				&:focus {
					border: 1px solid $space_gray !important;
				}
			}

			input.form-control {
				height: 40px;
			}

			textarea.form-control {
				height: 120px;
				margin-bottom: 20px;
			}

			.form-btn {
				color: $pure_white;
				background-color: $main_color;
				width: 160px;
				border: 1px solid $main_color;
				padding: 12px 20px;
				letter-spacing: 2px;
				text-transform: uppercase;

				&:hover,
				&:focus{
					color: $main_color;
					background-color:transparent;
					border: 1px solid $main_color;
					outline: none;
				}
			}
			
			::-webkit-input-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			::-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-ms-input-placeholder {  
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			.alert {
				display: none;
				i {
					font-size: 25px;
					margin-right: 10px;
					vertical-align: bottom;
				}
			}
		}
	}

	.line {
		width: 55px;
		height: 2px;
		background-color: $main_color;
		margin: 45px auto;
	}

	.contact-lateral {
		padding-left: 30px;

		h3.header-contact {
			font-size: 22px;
			font-weight: 300;
			display: inline-block;
			width: 310px;
			padding-bottom: 5px;
			border-bottom: 1px solid $space_gray;
			color: $space_gray;
		}
		
		.box-contact-info {
			width: 325px;
			text-align: left;

			.contact-info {
				margin-top: 18px;

				.contact-left { 
					width: 40px;
					height: 40px;
					display: inline-flex;
									
					align-items: center;		    
					-webkit-align-items: center;
					-webkit-box-align: center;
					-ms-flex-align: center;

					justify-content: center;
					-webkit-justify-content: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					margin-right: 10px;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border: 1px solid $space_gray;

					i {
						vertical-align: middle;
						font-size: 22px;
						color: $space_gray;

						&.cel {
							font-size: 27px;
						}
					}
				}

				.contact-right {
					display: inline;
					height: 40px;
					line-height: 40px;
					font-size: 18px;
					font-weight: 300;
					color: $space_gray;
				}

				p {
					font-size: 16px;
					font-weight: 500;
					color: $pure_black;
					margin-bottom: 0;
					margin-left: 20px;
				}
			}
		}
	}	
}