/*===========================================*/
/* This is the file with footer style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
//Color Schema
@import '../../../assets/sass/color';

//Fonts
@import '../../../assets/sass/fonts';

// Pre-sets
@import '../../../assets/sass/main';

@mixin transition5s() {
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

footer {
	background-color: #212121;

	#footerTop {
		padding: 55px 0;

		h4.header {
			text-transform: uppercase;
			padding-bottom: 10px;
			color: $snd_color;
			border-bottom: 1px solid #3b3b3b;
			font-weight: 300;
		}

		.logoFooter {
			margin-bottom: 20px;
			img {
				width: 135px;
			}
		}

		.about-footer {
			text-align: justify;

			a {
				color: $text_color;
				@include transition5s();

				&:hover {
					color: $snd_color;
					text-decoration: none;
				}
			}
		}

		.read-more {
			display: inline-block;
			color: #898989;
			text-transform: uppercase;
			font-weight: 300;
			margin: 20px 0;
			letter-spacing: 1.5px;

			&:hover {
				text-decoration: none;
				color: $snd_color;
			}
		}

		.list-links {
			list-style-type: none;

			li {
				a {
					color: $text_color;
					padding: 5px 0;
					display: block;
					position: relative;

					&:hover {
						text-decoration: none;
						color: $snd_color;

						&:before {
							background-color: $main_color;
							-webkit-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}

					&:before {
						content: '';
						position: absolute;
						width: 10px;
						height: 10px;
						background-color: $text_color;
						@include diamondShape();
						left: -20px;
						top: 10px;
						@include transition5s()
					}
				}
			}
		}

		.box-instagram {
			span {
				display: inline-block;
				width: 80px;
				height: 80px;
				margin: 3px;
				background-color: #858585;
				cursor: pointer;
			}
		}

		.box-contact {
			a {
				color: $text_color;
				display: block;
				font-size: 15px;
				padding: 5px 0;
				@include transition5s();

				&:hover, &:focus {
					outline: none;
					color: $snd_color;
					text-decoration: none !important;
				}
				
				i {
					margin-right: 10px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					border: 1px solid $text_color;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;

					&.mobile {
						font-size: 24px;
					}

					&.email {
						font-size: 14px;
					}
				}
			}
		}

		.social-links {
			list-style-type: none;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;			
			justify-content: space-around;
			-webkit-justify-content: space-around;
			-webkit-box-pack: space-around;
			-ms-flex-pack: space-around;
			padding-left: 0;
			margin-top: 20px;

			li {
				display: inline;

				a {
					display: inline-block;
					width: 40px;
					height: 40px;
					line-height: 44px;
					text-align: center;
					color: #212121;
					background-color: $text_color;
					@include transition5s();

					&:hover, &:focus {
						text-decoration: none;
						outline: none;
						background-color: $snd_color;
						
					}

					i {
						font-size: 20px
					}
				}
			}
		}
	}

	#footerBottom {
		.border-line {
			border-top: 1px solid #3b3b3b;
			padding-top: 50px;
			padding-bottom: 30px;
			text-align: center;
		}

		.back-top-footer {
			@include diamondShape();
			width: 35px;
			height: 35px;
			line-height: 35px;
			background: $main_color;
			display: inline-block;
			font-size: 18px;
			position: absolute;
			top: -17px;
			color: $pure_white;
			cursor: pointer;
			@include transition5s();

			&:hover {
				background-color: $pure_white;
				color: $text_color;
			}

			i {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
	
}

@media (max-width: 767px){
	footer {
		#footerTop {
			display: none;
		}

		#footerBottom {
			.back-top-footer {
				display: none;
			}

			.border-line {
				padding-top: 15px;
				padding-bottom: 5px;
			}
		}
	}
}