<footer>
  <div id="footerTop" >
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3">
                  <h4 class="header">Sobre Nós</h4>
                  <div class="about-footer">
                      <a [routerLink]="'/sobre'">
                          A Equipe Raça foi criada pelo Tenente Severino Amador de Souza que por durante 35 anos foi responsável pelo treinamento de centenas de cães do Canil da Polícia Militar do Pará...
                      </a>
                  </div>
                  <a class="read-more" [routerLink]="'/sobre'" title="Saiba Mais">Saiba Mais</a>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h4 class="header">Links do Site</h4>
                  <ul class="list-links">
                      <li><a [routerLink]="'/'">Home</a></li>
                      <li><a [routerLink]="'/sobre'">Sobre a Equipe Raça</a></li>
                      <li><a class="pointer" (click)="runTo('#services', 70, 500)">Adestramento de cães</a></li>
                      <li><a class="pointer" (click)="runTo('#howItWorks', 70, 500)">Dog Walker</a></li>
                      <li><a [routerLink]="'/caes-adestrados'">Cães Adestrados</a></li>
                      <li><a class="pointer" (click)="runTo('#contact', 70, 500)">Fale Conosco</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h4 class="header">Instagram</h4>
                  <!-- <div class="box-instagram">
                      <span></span>    
                  </div> -->
                  <!-- LightWidget WIDGET -->
                  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                  <iframe src="//lightwidget.com/widgets/07a460ba335d57c8b8b3524547deabac.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
              </div>
              <div class="col-sm-6 col-md-3">
                  <h4 class="header">Contato</h4>
                  <div class="box-contact">
                      <a href="tel:01199339-5412"><i class="fa fa-mobile-phone mobile"></i> (11) 99339-5412</a>
                      <a href="tel:0115814-6994"><i class="fa fa-mobile-phone mobile"></i> (11) 5814-6994</a>
                      <a href="mailto:contato@equiperaca.com.br">
                              <i class="fa fa-envelope email"></i>
                              contato@equiperaca.com.br
                          </a>
                  </div>

                  <ul class="social-links">
                      <li>                                            
                          <a href="https://www.facebook.com/profile.php?id=100009229755983" title="Facebook" target="_blank">
                              <i class="fa fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/equipe_raca" title="Instagram" target="_blank">
                              <i class="fa fa-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://api.whatsapp.com/send?phone==+5511993395412&text=Olá,%20Gostaria%20de%20tirar%20algumas%20dúvidas!" data-action="share/whatsapp/share" target="_blank" title="WhatsApp">
                              <i class="fa fa-whatsapp" title="WhatsApp"></i>
                          </a> 
                      </li>
                      <li>
                          <a href="https://www.youtube.com/channel/UCbCvBqcGrtj-LtFPOA6Us-g" title="YouTube" target="_blank">
                              <i class="fa fa-youtube-play"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div id="footerBottom" >
      <div class="container">
          <div class="row">
              <div class="col-xs-12 border-line">
                  <a class="back-top-footer" onclick="equipe.main.backtotop();">
                      <i class="fa fa-angle-up"></i>
                  </a>
                  <p class="copyright">© 2018 Equipe Raça. Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
