
// This is the file with the fonts variables
// Theme Author: Aline Ferreira
// Version: 1.0


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$main_font:       'Poppins', sans-serif;
$snd_font:        'Poppins', sans-serif;

