/*===========================================*/
/* This is the file with header style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/


#headerBar {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0px;
    box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    

    &.cbp-af-header-shrink {
        opacity: 0.95;
        transform: translateY(-43px);
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;

        #headerBottom {
            .navbar-header {
                a.navbar-brand {
                    img {
                        width: 190px;
                    }
                }
            }
        }
    }

    #headerTop {
        background: #444545;
        padding: 8px 0;
        color: $pure_white;

        a {
            color: $pure_white;
        }

        .box-contact {
            display: flex;
            align-items: center;
            justify-content: center;

            .top-contact {
                span {
                    font-weight: 400;
                    float: left;
                    font-size: 14px;
                    margin-right: 40px;
                }
            }

            .social_icons {
                ul {
                    margin-bottom: 0;
                    padding-left: 0;

                    li {
                        display: inline;
                        font-size: 18px;
                        margin-left: 15px; 
                        
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    #headerBottom {
        // background-color: #393848;
        background-color: $snd_color;
        position: relative;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;

        .navbar-header {
            a.navbar-brand {
                display: inline-block;
                width: 215px;
                padding: 4px; 
                position: absolute;

                .box-img {                    
                    height: 100%;
                }
            }
        }

        ul.navbar-nav {
            width: 100%;
            padding-left: 250px;
            display: flex;
            justify-content: space-around;

            a {
                padding: 20px 15px;
                font-size: 14px;
                color: #444545;
                text-transform: uppercase;
                cursor: pointer;
    
                &:hover, &:active, &:focus {
                    color: $main_color;
                    background-color: transparent;
                    outline: none;
                }
            }
        } 
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #headerBar {
        #headerBottom {
            .navbar-header {
                a.navbar-brand {
                    width: 180px;
                    padding-top: 8px;
                }
            }
            
            #navbar {
                padding:  0;

                ul.navbar-nav {
                    padding-left: 170px;

                    a {
                        padding: 20px 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #headerBar {
        #headerTop {
            display: none;
        }

        #headerBottom {
            .navbar-header {
                .navbar-toggle {
                    span {
                        background-color: $space_gray;
                    }
                }

                a.navbar-brand {
                    width: 170px;                    
                }
            }

            #navbar {
                max-height: none;
                height: 100vh;
                width: 100%;
                position: absolute;
                background: $snd_color;
                padding-bottom: 20px;
                border-color: #c1c0c0;

                &.in {
                    &::-webkit-scrollbar-track{
                        -webkit-box-shadow: inset 0 0 6px fade($pure_black, 30%);
                        background-color: #333;
                    }

                    &::-webkit-scrollbar {
                        width: 6px;
                        background-color: #f5f5f5;
                    }

                    &::-webkit-scrollbar-thumb {        
                        -webkit-box-shadow: inset 0 0 6px fade($pure_black, 30%);
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                        background-color: #111;
                    }
                }

                ul.navbar-nav {
                    display: inherit;
                    padding-left: 0;
                    text-align: left;
                }
            }
        }
        
    }
}
