


// This is the Main Stylesheet
// Theme Author: Aline Ferreira
// Version: 1.0

//CSS Style Structure

// General
// Helper Classes
// Page title 


/*********************************
* General 
**********************************/
@mixin diamondShape() {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

html,
body {
    background-color: $pure_white;
    color: $text_color;
    font-size: 14px;
    font-family: $main_font;
    line-height: normal;
    font-weight: 400;
}

body {
    padding-top: 103px; 

    @media(max-width: 767px) {
        padding-top: 50px; 
    }
}

@media (min-width: 1200px) { 
    .container { 
        width: 1200px;
    }
}

/*********************************
* HELPER CLASSES 
**********************************/

.ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   white-space: nowrap;
   cursor: default;
}

.pointer {
    cursor: pointer;
}

.text-alert {
    color: $alert-red;
}

.top_space10 {
    margin-top: 10px;
}

.top_space15 {
    margin-top: 15px;
}

.top_space20 {
    margin-top: 20px;
}

.top_space30 {
    margin-top: 30px;
}

/*********************************
* PAGE TITLE HEADERS
**********************************/
h1.heading,
h2.heading {
    color: $main_color;
    font-family: $snd_font;
}

h1.heading {    
    position: relative;    
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    
    &:after {
        content: '';        
        width: 60px;
        height: 4px;
        background-color: $main_color;
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
    }
    @media(max-width: 767px) {
        font-size: 25px; 
    }
}  

h2.heading { 
    font-size: 25px;
    @media(max-width: 767px) {
        font-size: 20px; 
    }
}

/*********************************
* BACK TO TOP  
**********************************/

#backToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom:30px;
    text-align: center;
    background-color: rgba($main_color, 0.5);
    @include diamondShape();
    color: $pure_white;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 4;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;

    &:hover {
        background-color: rgba($main_color, 1);
    }

    &.show {
        opacity: 1;
        filter: alpha(opacity=1);
    } 

    i {
        vertical-align: -13px;
        font-size: 22px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/*********************************
* BOTÃO PADRÃO - SIMPLES  
**********************************/

@mixin btn-std($border, $color1, $color2) {
	border: $border;
	display: inline-block;
	width: 210px;
	padding: 10px 15px;
	margin-top: 15px;
	color: $color1;
	text-transform: uppercase;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;

	&:hover {
		text-decoration: none;
		background-color: $color1;
		color: $color2;
	}
}

label[id$="-error"] {
    color: #EA4335 !important;
    font-size: 13px;
    position: absolute;
    margin-top: 0 !important;
    font-weight: 500;
    text-transform: initial !important;
}


/*********************************
* MODAL CONTACT  
**********************************/

#contactModal {
    .modal-header {
        background: $main_color;
        color: $pure_white;

        .modal-title {
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1.6px;
        }
        
        .close {
            margin-top: -2px;
            color: #FFF;
            opacity: 1;
            text-shadow: none;
            font-size: 25px;
            outline: none;

            &:hover {
                opacity: .8; 
            }
        }
    }
    .modal-body {
        .form-group {
            margin-bottom: 20px;
            
            label {
                font-weight: 500;
            }
        }
    }

    .alert {
        display: none;
        i {
            font-size: 25px;
            margin-right: 10px;
            vertical-align: bottom;
        }
    }

    .modal-footer {
        button {
            outline: none;

            &[type="button"]{
                
                @include btn-std(1px solid $text_color, $text_color, $pure_white);
            }

            &[type="submit"]{
                background: $space_gray;
                //param: $border, $color1, $color2
                @include btn-std(1px solid $space_gray, $pure_white, $space_gray);
            }
        }
    }
}

/*********************************
*  CONTACT  ASIDE
**********************************/
#asideLeft {
    .social-media,
    .box-contact {
        border-top: 1px solid rgba( 0, 0, 0, 0.09 );
        margin-top: 20px;
    }

    .social-media {                
        .social-links {
            list-style-type: none;
            padding-left: 0;
            margin-top: 20px;           

            li {
                display: inline;

                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 44px;
                    text-align: center;
                    color: #212121;
                    margin: 0 5px;
                    background-color: $pure_white;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;

                    &:hover, &:focus {
                        text-decoration: none;
                        outline: none;
                        background-color: $main_color;
                        color: $pure_white;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .box-contact {            
        a {
            display: block;
            padding: 5px 0;
            color: $text_color;

            &:hover {
                text-decoration: none;
                color: $pure_black;

                i {
                    border-color: $pure_black;
                }
            }

            i {
                font-size: 20px;
                margin-right: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid #898989;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
            }
        }
    }
}