/*===========================================*/
/* This is the file with contact style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/


.mfp-zoom-out-cur {
    cursor: default; 
}

.mfp-gallery {
    .mfp-content {
        .mfp-figure {
            background-color: $pure_white;
            padding: 0 15px;

            img {
                padding: 30px 0;
            }
        }

        .mfp-close {
            width: auto;
            height: auto;
            color: $text_color;
            padding-right: 10px;
            cursor: pointer;    
            right: 5px;
            top: -5px;
        }


        .mfp-counter {
            right: 15px; 
            top: 12px;
            color: $text_color;
            font-size: 14px;
        }
    }
    .mfp-arrow {
        &:after {
            content: '';
            font-family: 'fontAwesome';                
            border: none;
            background: $pure_white;
        }

        &.mfp-arrow-left {
            left: 35px; 
            
            &:before {
                border-right: none;
            }
            &:after {
                content: '\f0a8';
                font-family: 'fontAwesome';
                border: none;
                color: $main_color;
                font-size: 40px;
            }
        }

        &.mfp-arrow-right {
            right: 35px;
            
            &:before {
                border: none;
            }
            &:after {
                content: '\f0a9';
                font-family: 'fontAwesome';
                border: none;
                color: $main_color;
                font-size: 40px;
            }
        }
    }
}